$main-title-headline: white
$nav-navigation-hover: #3baeee
$main-title-button: #3baeee
$main-title-button-text: white
$our-services-list-item-subtext: #8e8e8e
$our-services-list-item-border: #d0d0d0
$our-services-list-item-icon: #3baeee
$video-description-background-color: #f4f4f4
$video-description-description-subtext: #8e8e8e
$video-description-description-headline: black
$responsive-divider-color: #d0d0d0
$featured-works-gallery-buttons: #d0d0d0
$featured-works-gallery-button-hover: #3baeee
$our-skills-background: #f4f4f4
$responsive-divider-color: #d0d0d0
$our-skills-display-skill-bar: #fafafa
$latest-news-blog-post-divider: #3baeee
$contact-us-form-button: #3baeee
$footer-background-color: #222
$footer-bottom-bar-color: #141414
$footer-item-description: #d0d0d0
$footer-item-holder-text: white

*
  margin: 0
  padding: 0
  font-family: 'Montserrat', sans-serif


.nav-holder
  display: flex
  height: 100%
  justify-content: space-between
  align-items: center

.nav-logo
  height: 12vh
  padding-left: 9rem

.nav-navigation
  display: flex
  padding: 1rem
  margin-right: 3rem
  li
    padding: 1rem
    list-style-type: none
    font-size: 0.8rem
    cursor: pointer
    .secondary-nav
      display: none
    &:hover
      color: $nav-navigation-hover
      .secondary-nav-row
        display: flex
      .secondary-nav
        position: absolute
        z-index: 3
        background-color: white
        color: black
        display: block

  .secondary-nav-column
    margin-top: 1rem
    margin: 1rem
    padding: 1rem
  .secondary-nav-column-item-holder
    display: flex
    flex-direction: column
  .secondary-nav-headline
    padding-bottom: 0.3rem
  .secondary-nav-item
    font-size: 0.9rem
    padding: 0.5rem
    &:hover
      color: blue

.main
  height: 83vh
  width: auto
  background-image: url('../img/header.jpg')
  background-size: cover
  background-attachment: fixed
  z-index: 1
  position: relative
  display: flex
  justify-content: center
  align-items: center

.overlay
  background-color: rgba(0,0,0,0.3)
  height: 100%
  width: 100%
  z-index: -1
  position: absolute
  top: 0
  left: 0

.main-title
  text-align: center

.main-title-headline
  font-size: 3rem
  color: $main-title-headline
  margin: 1rem

.main-title-button
  font-size: 1rem
  background-color: $main-title-button
  padding: 1rem
  border: none
  color: $main-title-button-text
  cursor: pointer
  transition: all .3s
  &:hover
    box-shadow: 4px 5px rgba(0,0,0,0.5)
    transition: all .3s
    transform: translateY(-10%)

.our-services
  height: 100%
  padding-bottom: 6.25rem

.our-services-headline
  margin: 2rem
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  text-align: center
  padding: 3rem

.our-services-headline-text
  text-transform: uppercase
  padding: 1rem
  font-size: 1.5rem
  font-weight: 300

.our-services-headline-subtext
  width: 80%
  line-height: 1.7rem

.our-services-list
  display: flex
  justify-content: center

.our-services-list-item
  border: 1px solid $our-services-list-item-border
  width: 20vw
  text-align: center
  padding: 1rem
  border-left: none
  transition: all .1s
  &:nth-child(1)
    border-left: 1px solid $our-services-list-item-border
  .fa-mobile-alt
    padding: 1rem 1.4rem
  &:hover
    background-color: #3baeee //#f4f4f4
    transition: all .1s
    *
      transform: scale(1.1)
      color: white
      transition: all .1s

.our-services-list-item-icon
  font-size: 2rem
  color: $main-title-button
  border: 1px solid $our-services-list-item-icon
  border-radius: 50%
  padding: 1rem
  transition: all .3s


.our-services-list-item-headline
  font-size: 0.9rem
  margin: 0.8rem
  transition: all .3s

.our-services-list-item-subtext
  font-size: 0.8rem
  margin: 0.4rem
  line-height: 2rem
  transition: all .3s
  color: $our-services-list-item-subtext

.video-description
  height: 100%
  padding: 6rem 0
  background-color: $video-description-background-color
  display: flex

.video-description-video
  flex: 1
  padding: 0 2rem
  padding-right: 0.5rem

.video-description-video-container
  position: relative
  padding-bottom: 56.25%
  height: 0
  overflow: hidden
  max-width: 100%
  iframe, object, embed
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%

.video-description-description
  flex: 1
  padding-left: 0
  padding: 0 2rem

.video-description-description-headline
  font-size: 2rem
  padding: 1rem 0
  font-weight: 300
  color: $video-description-description-headline

.video-description-description-subtext
  padding: 1rem 0
  font-size: 0.9rem
  color: $video-description-description-subtext

.responsive-divider
  height: 1px
  margin: 1rem 0
  background-color: $responsive-divider-color
  width: 90%

.featured-works
  padding-bottom: 8.2rem
.featured-works-title
  display: flex
  justify-content: center
  align-items: center
  flex-direction: column
  padding: 3rem

.featured-works-title-headline
  margin: 1rem
  font-weight: 300
.featured-works-title-subtext
  font-size: 1rem
  text-align: center
  width: 65%

.featured-works-gallery
  display: flex
  flex-direction: column
  align-items: center

.featured-works-gallery-buttons
  ul
    display: flex
    justify-content: center
  li
    text-transform: uppercase
    font-size: 0.75rem
    padding: 0.75rem 1.4rem
    margin: 0.5rem
    list-style-type: none
    border: 1px solid $featured-works-gallery-buttons
    border-radius: 1%
    cursor: pointer
    transition: all .3s
    &:hover
      background-color: $featured-works-gallery-button-hover
      color: white
      font-weight: 700
      transform: translateY(1px)
      transition: all .3s
      transition-timing-function: ease
      box-shadow: 4px 4px rgba(0,0,0,0.4)

.featured-works-gallery-item-holder
  display: flex
  flex-wrap: wrap
  width: 100%
  justify-content: center

.featured-works-gallery-item-holder-item
  height: 17rem
  width: 24rem
  margin: 1rem
  display: flex
  justify-content: center
  align-items: center

.featured-item-description
  width: 80%
  height: 80%
  background-color: white
  text-transform: uppercase
  justify-content: center
  align-items: center
  background-size: cover
  cursor: pointer
  opacity: 1
  transition: all .5s
  display: flex

.portfolio--1
  background-image: url('../img/portfolio-1.jpg')
.portfolio--2
  background-image: url('../img/portfolio-2.jpg')
.portfolio--3
  background-image: url('../img/portfolio-3.jpg')
.portfolio--4
  background-image: url('../img/portfolio-4s.jpg')
.portfolio--5
  background-image: url('../img/portfolio-5s.jpg')
.portfolio--6
  background-image: url('../img/portfolio-6s.jpg')
.portfolio--7
  background-image: url('../img/portfolio-7s.jpg')
.portfolio--8
  background-image: url('../img/portfolio-8s.jpg')
.portfolio--9
  background-image: url('../img/portfolio-9s.jpg')

.our-skills
  background-color: $our-skills-background
  height: 100%
  padding-bottom: 6.25rem

.our-skills-title
  display: flex
  justify-content: center
  align-items: center
  flex-direction: column
  text-align: center
  padding-top: 4.8rem
  padding-bottom: 2rem

.our-skills-title-headline
  font-weight: 300
  font-size: 1.4rem
  padding: 1.7rem 0

.our-skills-title-subtext
  font-size: 0.95rem
  width: 65%

.our-skills-display
  display: flex
  flex-wrap: wrap
  justify-content: center
  align-items: center

.our-skills-display-skill
  width: 40%
  padding: 1rem
  transition: all .3s
  &:hover
    transform: scale(1.01)
    transition: all .3s

.our-skills-display-skill-title-holder
  display: flex
  justify-content: space-between

.our-skills-display-skill-title
  margin-bottom: 0.625rem

.our-skills-display-skill-bar
  width: 100%
  height: 1rem
  border-radius: 20px
  background-color: $our-skills-display-skill-bar

.our-skills-display-skill-bar-span--1
  width: 0%
  height: 1rem
  border-radius: 20px
  background-color: #3baeee

.our-skills-display-skill-bar-span--2
  width: 0%
  height: 1rem
  border-radius: 20px
  background-color: #6ac0de

.our-skills-display-skill-bar-span--3
  width: 0%
  height: 1rem
  border-radius: 20px
  background-color: #65b961

.our-skills-display-skill-bar-span--4
  width: 0%
  height: 1rem
  border-radius: 20px
  background-color: #eaad4f

.latest-news
  height: 100%
  margin-bottom: 5rem

.latest-news-title-holder
  display: flex
  justify-content: center
  align-items: center
  flex-direction: column

.latest-news-title-headline
  padding-top: 6.5rem
  text-transform: uppercase
  font-weight: 300
  margin-bottom: 1rem

.latest-news-title-subtext
  padding-bottom: 4.8rem

.latest-news-blog-holder
  display: flex
  flex-wrap: wrap
  justify-content: center

.latest-news-blog-post
  width: 20%
  margin: 1.2rem
  cursor: pointer

.latest-news-blog-post-image
  width: 100%
.post--1
  background-image: url('../img/news1.jpg')
.post--2
  background-image: url('../img/news2.jpg')
.post--3
  background-image: url('../img/news3.jpg')
.post--4
  background-image: url('../img/news4.jpg')

.latest-news-blog-post-title
  padding-top: 1.1rem
  padding-bottom: 1.3rem
  text-transform: uppercase
  font-size: 1.2rem

.latest-news-blog-post-date
  font-size: 0.8rem

.latest-news-blog-post-divider
  height: 1px
  margin: 1rem 0
  background-color: $latest-news-blog-post-divider
  width: 25%

.latest-news-blog-post-description
  font-size: 0.8rem

.slick-slider
  display: flex
  justify-content: center
  align-items: center
  margin: 0 3rem
  .slick-arrow
    font-size: 1rem
    margin: 0 1rem
    color: #9f9f9f


.clients-item
  img
    max-height: 25px
    margin: 3rem
    //width: 12.5rem
    //height: 3.2rem

.slick-initialized .slick-slide
  min-height: 80px
  display: flex
  justify-content: center
  align-items: center


.item--1
  background-image: url('../img/client1.png')
.item--2
  background-image: url('../img/client2.png')
.item--3
  background-image: url('../img/client3.png')
.item--4
  background-image: url('../img/client4.png')
.item--5
  background-image: url('../img/client5.png')

.arrow-backward
  font-size: 2rem
.arrow-forward
  font-size: 2rem

.contact-us
  padding-bottom: 6.3rem

.character-limit
  border: 1px solid red !important

.show-message
  display: block !important

.show-overlay
  display: flex

.form-notifications
  margin-top: 1rem

.error-holder
  color: red
  display: none

.success-holder
  color: green
  display: none

.contact-us-title
.contact-us-title-holder
  display: flex
  justify-content: center
  align-items: center
  flex-direction: column
  margin-top: 5.3rem
  margin-bottom: 4.625rem

.contact-us-title-headline
  font-weight: 300
  font-size: 1.437rem
  margin-bottom: 1rem

.contact-us-title-subtext
  font-size: 1rem
  text-align: center
  width: 65%

.contact-us-form
  display: flex

.contact-us-form-holder
  flex: 2
  textarea
    width: 100%
    
.contact-us-form-input
  width: 48%
  input
    margin: 0.5rem 0
    padding: 1rem 0
    width: 96.5%

.contact-us-form-main
  display: flex
  flex-wrap: wrap
  justify-content: space-between
  padding-left: 15%

.contact-us-form-button
  width: 100%
  display: flex
  justify-content: end
  margin: 1rem
  margin-right: 0
  input
    padding: 1.25rem 2.5rem
    background-color: $contact-us-form-button
    border: none
    color: white
    text-transform: uppercase
    transition: all .3s
    &:hover
      box-shadow: 4px 5px rgba(0,0,0,0.5)
      transition: all .3s
      transform: translateY(-10%)

.contact-us-form-sidebar-holder
  margin-left: 1.937rem
  padding-right: 5%
  padding-top: 0.4rem
  flex: 1

.contact-us-form-sidebar-headline
  font-weight: 300
  margin-bottom: 1.2rem

.contact-us-form-sidebar-info-holder
  display: flex
  width: 70%

.contact-us-form-sidebar-info-icon
.contact-us-form-sidebar-info-text
  margin-left: 0.875rem

#firstName
#lastName
#email
#subject
#message
#sendMessage

.footer
  height: 100%
  background-color: $footer-background-color
.footer-item-logo
  background-image: url('../img/logo.png')
  height: 4rem

.footer-item-link
  a
    color: white
    text-decoration: none

.footer-item-holder
  display: flex
  width: 80%
  margin: 0 auto
  font-size: 0.6rem
  color: $footer-item-holder-text
  padding: 6.3rem 0

.footer-item--1
  flex: 1
  margin: 1rem

.footer-item-link
  margin: 1.8rem 0

.footer-item-description
  color: $footer-item-description
  font-size: 0.6rem


.footer-item--2
  flex: 1
  margin: 1rem
  border-left: 1px solid grey
  padding-left: 1.875rem

.footer-item-info-holder
  display: flex
  padding: 0.8rem 0

.footer-item-info-text
  margin-left: 0.75rem


.footer-item--3
  flex: 1
  margin: 1rem
  border-left: 1px solid grey
  padding-left: 1.875rem

.footer-item-posts-holder
  display: flex
  justify-content: space-between
  border-bottom: 1px solid white

.footer-item-posts-icon
  align-self: center
  margin-left: 0.75rem
  border-radius: 50%
  font-size: 0.5rem

.footer-bottom-bar-social
  .footer-item-posts-icon
    border: 1px solid white
    padding: 0.6rem
  .fa-facebook-f
    padding: .6rem .8rem

.footer-item-posts-text
  padding: 0.8rem 0

.footer-item--4
  flex: 1
  margin: 1rem
  border-left: 1px solid grey
  padding-left: 1.875rem
  .footer-item-posts-headline
    margin-bottom: .8rem

.footer-item-images
  display: grid
  grid-template-columns: auto auto auto
  grid-template-rows: auto auto auto
  grid-gap: 0.2rem
  width: 150%
  img
    width: 100%

.footer-bottom-bar
  background-color: $footer-bottom-bar-color
  display: flex
  justify-content: center

.footer-bottom-bar-holder
  display: flex
  padding: 2.3rem
  justify-content: space-between
  align-items: center
  width: 80%
  font-size: 0.8rem
  color: white

.footer-bottom-bar-description
  text-transform: uppercase
    
.font-bold
  font-weight: 700

.footer-bottom-bar-social
  display: flex

.mobile-navigation-button
  font-size: 0.875rem
  border: 1px solid #d0d0d0
  padding: 0.562rem
  display: none

.show
  transition: opacity .2s ease-in-out

.hidden
  opacity: 0 !important


@media(max-width:768px)


  .nav-holder
    display: flex
    grid-template-columns: auto auto
    grid-template-rows: auto
    justify-content: space-between
    margin: 0 3rem
    flex-wrap: wrap

  .nav-logo
    padding-left: 0
    margin: 0 0.5rem

  .mobile-navigation-button
    display: block
    margin: 0 0.5rem

  .nav-navigation
    padding: 0
    max-height: 0
    transition: all 1s
    flex-direction: column
    width: 100%
    li
      text-align: center
      margin: 0.1rem auto
      transition: 0.25s
      &:hover
        color: #fff
        box-shadow: inset 9em 0 0 0 #3baeee
        .secondary-nav
          display: none
      &:nth-last-child(1)
        margin-bottom: 3rem

  .nav-navigation-mobile-active
    max-height: 100vh
    transition: all 1s

  .our-services-list
    flex-direction: column
    align-items: center

  .our-services-headline
    padding: 0
  .our-services-headline-subtext
    width: 100%

  .our-services-list-item
    width: 50vw
    border: 1px solid $our-services-list-item-border
    text-align: center
    padding: 1rem
    border-top: none
    &:nth-child(1)
      border-top: 1px solid $our-services-list-item-border

  .video-description
    flex-direction: column
  
  .video-description-video
    padding: 1rem

  .featured-works-gallery-buttons
    ul
      flex-direction: column
      align-items: center

  .our-skills-display-skill-title-holder
    flex-direction: column
    align-items: center

  .our-skills-display-skill
    width: 60%

  .latest-news-blog-holder
    flex-direction: column
    align-items: center

  .latest-news-blog-post
    width: 50%
    margin: 1.5rem auto

  .latest-news-blog-post-image
    width: 100%

  .latest-news-title-subtext
    width: 80%
    text-align: center

  .contact-us-form
    flex-direction: column
    align-items: center

  .contact-us-form-main
    flex-direction: column
    padding-left: 0
    align-items: center

  .contact-us-form-holder
    width: 100%
    textarea
      width: 48%

  .contact-us-form-button
    width: auto

  .contact-us-form-sidebar-info-holder
    width: auto

  .slick-slider
    margin: 0

  .footer-item-holder
    flex-direction: column
    width: 70%
    justify-content: center

  .footer-item-images
    width: 100%

  .featured-works-gallery-item-holder-item
    background-repeat: no-repeat

  .featured-works-title-subtext
    width: 100%

  .clients-holder
    width: 100%

  .footer-item-info-holder--1
    display: flex
    flex-direction: column

  .footer-item-logo
    margin-top: 0.5rem
    margin-bottom: 3.25rem

  .footer-item--1
    display: flex
    flex-direction: column
    width: 38%

  .footer-bottom-bar-holder
    flex-direction: column
    align-items: center
    width: 100%
    padding: 2.3rem 0rem

  .footer-bottom-bar-social
    margin-top: 1rem

  .footer-item-logo
    margin: 0


@media(max-width:480px)
  .our-services-list-item
    width: 70vw

  .latest-news-blog-post
    width: 80%
    margin: 1.5rem auto

  .latest-news-blog-post-image
    width: 100%

  .footer-item--4
    img
      width: 100%
    .footer-item-posts-headline
      margin-bottom: .8rem

  .footer-bottom-bar-description
    text-align: center
    font-size: 0.7rem
    padding: 0 0.5rem
